DATABASE_URL=
DIRECT_URL=
AUTH_SECRET=
APP_URL=
APP_MODE=BETA_FREE
INITIAL_HOSPITAL_NAME=
INITIAL_UNIT_NAME=
INITIAL_SUPER_ADMIN_USERNAME=
INITIAL_SUPER_ADMIN_PASSWORD=
INITIAL_DEPARTMENT_NAME=
INITIAL_DEPARTMENT_ADMIN_USERNAME=
INITIAL_DEPARTMENT_ADMIN_PASSWORD=
